@import "tailwindcss";
@import "tailwind-animate";
@import "./global-animations.css";
@import "./extras.css";

@layer utilities {
  .element {
    scrollbar-width: none;
  }

  /* For Internet Explorer and Edge */
  .element {
    -ms-overflow-style: none;
  }

  /* For Chrome and Safari */
  .element::-webkit-scrollbar {
    display: none;
  }
}
